{
	"extends": "eslint:recommended",

	"env": {
		"browser": true
	},

	"rules": {
		"indent": [2, "tab"],
		"no-trailing-spaces": 2,
		"linebreak-style": [2, "windows"],

		"curly": [2, "multi-line"],
		"dot-location": [2, "property"],
		"dot-notation": [2, {"allowKeywords": false}],
		"eqeqeq": [2, "allow-null"],
		"no-alert": 2,
		"no-caller": 2,
		"guard-for-in": 2,
		"no-empty-label": 2,
		"no-eval": 2,
		"no-extend-native": 2,
		"no-extra-bind": 2,
		"no-floating-decimal": 2,
		"no-implied-eval": 2,
		"no-invalid-this": 2,
		"no-iterator": 2,
		"no-lone-blocks": 2,
		"no-loop-func": 2,
		"no-multi-spaces": 2,
		"no-multi-str": 2,
		"no-native-reassign": 2,
		"no-new-func": 2,
		"no-new-wrappers": 2,
		"no-octal-escape": 2,
		"no-proto": 2,
		"no-self-compare": 2,
		"no-sequences": 2,
		"no-throw-literal": 2,
		"no-unused-expressions": 2,
		"no-useless-call": 2,
		"no-void": 2,
		"no-warning-comments": 1,
		"radix": 2,
		"wrap-iife": [2, "inside"],
		"strict": [2, "function"],
		"no-catch-shadow": 2,
		"no-label-var": 2,
		"no-shadow-restricted-names": 2,
		"no-undef-init": 2,
		"no-use-before-define": [2, "nofunc"],
		"array-bracket-spacing": 2,
		"block-spacing": 2,
		"brace-style": [2, "1tbs", {"allowSingleLine": true}],
		"camelcase": 2,
		"comma-spacing": 2,
		"comma-style": 2,
		"consistent-this":  [2, "self"],
		"eol-last": 2,
		"func-style": [2, "declaration"],
		"key-spacing": 2,
		"max-nested-callbacks": [2, 4],
		"new-parens": 2,
		"no-array-constructor": 2,
		"no-lonely-if": 2,
		"no-new-object": 2,
		"no-multiple-empty-lines": [2, {"max": 1}],
		"no-spaced-func": 2,
		"no-unneeded-ternary": 2,
		"object-curly-spacing": 2,
		"one-var": [2, {"initialized": "never"}],
		"operator-assignment": 2,
		"operator-linebreak": [2, "after"],
		"padded-blocks": [2, "never"],
		"quote-props": [2, "as-needed", {"keywords": true}],
		"quotes": [2, "double", "avoid-escape"],
		"semi-spacing": 0,
		"semi": [2, "never"],
		"space-after-keywords": 2,
		"space-before-function-paren": [2, {
			"anonymous": "always",
			"named": "never"
		}],
		"space-before-keywords": 2,
		"space-in-parens": 2,
		"space-infix-ops": [2, {"int32Hint": true}],
		"space-unary-ops": 2,
		"spaced-comment": [2, "always"],
		"max-depth": [2, 4],
		"max-len": [2, 80, 4],
		"max-statements": [2, 20]
	}
}
