# Most of these are build artifacts.
node_modules
**/*.min.js
archive
deploy
mithril.closure-compiler-externs.js

# This is merely a dependency for the documentation.
docs/layout/lib

# TODO: These are temporary, and need to be eventually enabled.
mithril.js
