# The second line is because Git is mysteriously not recursing.
node_modules
**/node_modules

# Build artifacts.
**/*.min.js
archive
deploy
mithril.closure-compiler-externs.js

# This is merely a dependency for the documentation.
docs/layout/lib

# This is probably going to disappear eventually, anyways.
tests
