{
    "env": {
        "browser": true
    },
    "rules": {
        "no-cond-assign": [2, "except-parens"],
        "no-shadow": 0,
        "semi-spacing": 0,
        "quotes": [2, "double", "avoid-escape"],
        "curly": [2, "multi-line"],
        "semi": [2, "never"],
        "eqeqeq": [2, "allow-null"],
        "no-throw-literal": 2,
        "wrap-iife": 2,
        "strict": [2, "function"],
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "linebreak-style": [1, "windows"],
        "one-var": [2, {
            "initialized": "never"
        }],
        "new-cap": 0,
        "no-use-before-define": [2, "nofunc"],
        "max-len": [2, 80, 4],
        "dot-notation": 2,
        "indent": [2, "tab"]
    }
}
