/coverage
/node_modules
/jsconfig.json
/npm-debug.log
/.vscode
/.DS_Store
/.eslintcache

# Exclude the compiled output. It's available through prerelease publishes anyways, so there's no
# need to keep a spare copy in the repo.
/dist
