{
    "extend": "../../.eslintrc",
    "globals": {
        "asyncTest": false,
        "deepEqual": false,
        "equal": false,
        "expect": false,
        "module": false,
        "notDeepEqual": false,
        "notEqual": false,
        "notPropEqual": false,
        "notStrictEqual": false,
        "ok": false,
        "propEqual": false,
        "QUnit": false,
        "raises": false,
        "start": false,
        "stop": false,
        "strictEqual": false,
        "test": false,
        "throws": false
    }
}
