body,table,h5 {font:normal 16px 'Open Sans';}
header,main {margin:auto;max-width:1000px;}
header section {position:absolute;width:250px;}
nav a {border-left:1px solid #ddd;padding:0 10px;}
nav a:first-child {border:0;padding-left:0;}
main {margin-bottom:100px;}
main section {margin-left:270px;}
h1 {font-size:24px;margin:0 0 15px;}
h2 {font-size:22px;margin:30px 0 15px;}
h3 {font-size:20px;margin:30px 0 15px;}
h4 {font-size:18px;margin:15px 0 15px;}
h5 {font-weight:bold;margin:15px 0 15px;}
pre,code {background:#eee;font-family:monospace;}
pre {border-left:3px solid #1e5799;overflow:auto;padding:10px 20px;}
code {border:1px solid #ddd;display:inline-block;margin:0 0 1px;padding:3px;white-space:pre;}
pre code {border:0;margin:0;padding:0;}
table {border-collapse:collapse;width:100%;}
tbody tr:nth-child(odd) {background:#fafafa;}
thead tr,tbody tr:nth-child(even) {background:#f3f3f3;}
th {text-align:left;}
th,td {padding:3px 10px;vertical-align:top;}
a {color:#1e5799;display:inline-block;text-decoration:none;}
a:hover {text-decoration:underline;}
hr {border:0;border-bottom:1px solid #ddd;margin:30px 0;}

#signature + p code {padding:3px 10px;}
h1 + ul {margin:40px 0 0 -270px;padding:0;position:absolute;width:250px;}
h1 + ul + hr {display:none;}
h1 + ul li {border-bottom:1px solid #eee;list-style:none;margin:0;padding:0;}
h1 + ul li:last-child {border-bottom:0;}
h1 + ul ul {margin:0 0 10px;padding:0 0 0 15px;}
h1 + ul ul li {border:0;}

@media (max-width: 767px) {
	main section {margin:0;}
	h1 + ul + hr {display:block;}
	header section,h1 + ul {margin:0 0 20px;position:static;width:auto;}
}
@media (max-width: 1024px) {
	#signature + p + table,#signature + p + table tbody,#signature + p + table tr,#signature + p + table th,#signature + p + table td {display:block;}
	#signature + p + table thead {display:none;}
	#signature + p + table td:before {display:inline-block;font-style:italic;padding:0 10px 0 0;width:100px;}
	#signature + p + table tr:not(:last-child) td:nth-child(1):before {content:"Argument:";}
	#signature + p + table td:nth-child(2):before {content:"Type:";}
	#signature + p + table td:nth-child(3):before {content:"Required:";}
	#signature + p + table td:nth-child(4):before {content:"Description:";}
	#signature + p + table tr:last-child td:nth-child(3) {display:none;}
}
