name: merge

on:
  push:
    branches: [ main ]

  workflow_dispatch:

concurrency: prr:deploy

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: next
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - run: npm ci
    - run: npm run build
    - run: npx pr-release merge --target main --source next --commit --force --clean --changelog ./docs/recent-changes.md --compact --minimize-semver-change
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

    # The following will publish the release to npm
    - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      name: Setup NPM Auth
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - run: npm publish
      name: Publish
