name: Publish prerelease and update PR

on:
  workflow_call:
  workflow_dispatch:

jobs:
  update-pr:
    concurrency: prr:pre-release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - run: npm ci
    - run: npm run build
    - run: npx pr-release pr --verbose --target release --source main --compact --verbose --minimize-semver-change
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    # The following will publish a prerelease to npm
    - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      name: Setup NPM Auth
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - run: npx pr-release infer-prerelease --preid=next --target release --source main --verbose --publish --minimize-semver-change
      name: Publish