name: Warn on pushing to `master`
on:
  pull_request_target:
    types: [opened]
    branches: [master]
permissions:
  issues: write
jobs:
  comment:
    uses: ./.github/workflows/_post-comment.yml
    with:
      url: ${{ github.event.pull_request.url }}
      message: ⚠⚠⚠ Hey @${{ github.actor }}, did you mean to open this against `next`? ⚠⚠⚠
