name: Create release when pushing to `release`

on:
  push:
    branches: [release]
  workflow_dispatch:

concurrency: merge-release

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        ref: main
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - run: npm ci
    - run: npm run build
    - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      name: Setup NPM Auth
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - run: npx pr-release merge --target release --source main --commit --force --clean --changelog ./docs/recent-changes.md --compact --minimize-semver-change --prerelease="npm publish"
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    - run: bash scripts/set-versioned-branch.sh release
