name: rollback

on:
  workflow_dispatch:

concurrency: prr:deploy

jobs:
  pr:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - run: npm ci
    - run: npm run build
    - run: npx pr-release rollback --verbose --target release --source main --verbose --ignore 'package*' --ignore docs/changelog.md --ignore docs/recent-changes.md
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    - run: bash scripts/set-versioned-branch.sh release
