name: test-next-push

on:
  push:
    branches: [ next ]
  workflow_dispatch:

concurrency: prr:pre-release

jobs:
  build:
    uses: ./.github/workflows/test.yml

  publish-prerelease:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup
    - run: npm run build
    - run: npx pr-release pr --verbose --target master --source next --compact --verbose --minimize-semver-change
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    # The following will publish a prerelease to npm
    - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      name: Setup NPM Auth
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - run: npx pr-release infer-prerelease --preid=next --target master --source next --verbose --publish --minimize-semver-change
      name: Publish
